<%- include('includes/head', { pageTitle: 'Unauthorized'}) %> 
</head>
<body>
<%- include('includes/header') %>
<main>
  <h1>Not Logged In</h1>
  <p>You are not authenticated to access this page</p>
  <p><a class="btn" href="/">Back to Home Page</a></p>
</main>

<%-include('includes/footer') %>
