<article class="product-item">
  <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
  <h2><%= product.title %></h2>
  <div>
    <a class="btn btn-alt" href="/admin/products/<%=product.id %>"
      >View and Edit</a
    >
    <button class="btn btn-alt">Delete</button>
  </div>
</article>
