<%- include('../../shared/includes/head', { pageTitle: 'Your Orders'}) %> 
</head>
<body>
<%- include('../../shared/includes/header') %>
<main>
  <h1>Your Orders</h1>
</main>

<%-include('../../shared/includes/footer') %>
