html {
  font-family: "Manrope", sans-serif;

  --color-silver-50: rgb(14, 67, 67);
  --color-silver-100: rgb(26, 84, 84);
  --color-silver-300: rgb(71, 144, 144);
  --color-silver-400: rgb(85, 157, 157);
  --color-silver-500: rgb(166, 211, 211);
  --color-silver-600: rgb(200, 232, 232);
  --color-silver-700: rgb(221, 242, 242);

  --color-primary-50: rgb(137, 169, 243);
  --color-primary-100: rgb(102, 138, 223);
  --color-primary-200: rgb(82, 116, 197);
  --color-primary-400: rgb(51, 87, 173);
  --color-primary-500: rgb(38, 74, 158);
  --color-primary-700: rgb(24, 52, 117);
  --color-primary-200-contrast: rgb(205, 97, 162);
  --color-primary-500-contrast: white;

  --color-error-100: rgb(251, 161, 167);
  --color-error-500: rgb(199, 15, 15);

  --color-primary-500-bg: rgb(1, 57, 60);

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-primary-400);
}

hr {
  background-color: var(--color-silver-50);
  height: 1px;
  border: none;
}

body {
  background-color: var(--color-silver-500);
  color: var(--color-silver-100);
  margin: 0;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn {
  border-radius: var(--border-radius-small);
  font: inherit;
  padding: var(--space-2) var(--space-6);
  cursor: pointer;
  border: 1px solid var(--color-primary-500);
  background-color: var(--color-primary-500);
  color: var(--color-primary-500-contrast);
}

.btn:hover,
.btn:active {
  background-color: var(--color-primary-700);
  border-color: var(--color-primary-700);
}
