<%- include('../../shared/includes/head', { pageTitle: 'All Products'}) %> 
  <link rel="stylesheet" href="/styles/auth.css">
  <link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
<%- include('../../shared/includes/header') %>
    <h1>Product Administration</h1>
    <main>
        <section>
            <h2>Product Management</h2>
            <p><a href="/admin/products/new" class="btn">Add Product</a></p>
        </section>
        <section>
          <p>A list of products</p>
        </section>
        <section></section>
    </main>

<%-include('../../shared/includes/footer') %>
