<%- include('../../shared/includes/head', { pageTitle: 'Login'}) %> 
  <link rel="stylesheet" href="/styles/auth.css">
  <link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
<%- include('../../shared/includes/header') %>
<main>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
    <p>
      <label for="email">E-Mail Address</label>
      <input type="email" name="email" id="email" required>  
    </p>

    <p>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required minlength="8">
    </p>
    <button class="btn">Login</button>
    <p id="switch-form"><a href="/signUp">Create New Account</a></p>
  </form>
</main>

<%-include('../../shared/includes/footer') %>
