<%- include('../includes/head', { pageTitle: 'SignUp'}) %> 
</head>
<body>
<%- include('../includes/header') %>
<main>
  <h1>Sign Up</h1>
  <form action="" method="">

  </form>
</main>

<%-include('../includes/footer') %>
